body{
    background-color: black;
    color: green;
    font-family: monospace;
    font-size: 1.5rem;
}
a,p{ padding: 1rem; }
.box{ border-style: dashed; }

nav{
    display: flex;
    justify-content: space-between;
}
.top{
    border-style: none;
    border-bottom-style: dashed;
}
.bottom{
    border-style: none;
    border-top-style: dashed;
}

/* *{ outline: 1px solid purple !important; }
/*^ debug line